$header-width: 3vw;
$block-rotate-angle: 12deg;
$rightPosition: 75%;

.section-of-power__container {
  position: relative;
  margin-top: $header-width;

  .section-of-power__header {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate($block-rotate-angle);
    width: 100%;
    height: $header-width;
    top: -$header-width * 0.9;

    .section-of-power__header-text {
      position: absolute;
      font-size: $header-width;
      line-height: 0.9;
      top: 0;
      right: $rightPosition;
      z-index: 10;
      animation: move-right 10s forwards paused linear;
    }
  }

  .section-of-power__triangle {
    position: absolute;
    width: 120%;
    background-color: #000000;
    transform-origin: 0 0;
    transform: rotate($block-rotate-angle);
  }
  
  .section-of-power__text-block {
    position: absolute;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #ffffff;
  }
}

@-webkit-keyframes move-right {
  from {
    right: $rightPosition;
  }
  to {
    right: 0;
  }
}
@keyframes move-right {
  from {
    right: $rightPosition;
  }
  to {
    right: 0;
  }
}

@media screen and (max-width:720px) {
  $header-width: 5vw;
  $rightPosition: 55%;

  .section-of-power__container {
    margin-top: $header-width;

    .section-of-power__header {
      height: $header-width;
      top: -$header-width * 0.9;

      .section-of-power__header-text {
        font-size: $header-width;
        right: $rightPosition;
      }
    }
  }


  @-webkit-keyframes move-right {
    from {
      right: $rightPosition;
    }
    to {
      right: 0;
    }
  }
  @keyframes move-right {
    from {
      right: $rightPosition;
    }
    to {
      right: 0;
    }
  }
}
