$header-width: 5vh;
$block-rotate-angle: 12deg;

.section-of-power__container {
  position: relative;
  margin-top: $header-width;

  .section-of-power__header {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate($block-rotate-angle);
    width: 120%;
    height: $header-width;
    top: -$header-width * 0.9;

    .section-of-power__header-text {
      position: absolute;
      font-size: $header-width;
      line-height: 0.9;
      top: 0;
      left: 0;
    }
  }

  .section-of-power__triangle {
    position: absolute;
    width: 120%;
    background-color: #000000;
    transform-origin: 0 0;
    transform: rotate($block-rotate-angle);
  }
  
  .section-of-power__text-block {
    position: absolute;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #ffffff;
  }
}



