$text-width: 48vw;
$text-height: 7vw;

.open-block__container {
  width: 100%;
  position: relative;
}

.open-block__img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .open-block__img {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    animation:spin 4s linear infinite;
  }
}

.open-block__text-container {
  animation: x 13s linear infinite alternate;

  .open-block__text {  
    width: 48vw;
    height: $text-height;
    line-height: $text-height;
    font-size: 7vw;
    animation: y 7s linear infinite alternate;
  }
}


@keyframes x {
  100% {
    transform: translateX( calc(100vw - #{$text-width}) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - #{$text-height}) );
  }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
